/* Start Variables  */
:root { 
    --main-color:  rgb(126, 169, 230); 
    --main-color-alt: rgb(39, 93, 230);
    --main-transition:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --section-background:#ececec;
}
/* End Variables  */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html { 
    scroll-behavior: smooth;
}

body { 
    font-family: "cairo", sans-serif;
}

a { 
    text-decoration: none;
}

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.container { 
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media ( min-width:768px) { 
    .container { 
        width: 750px;
    }
}
/* Medium */
@media ( min-width:992px) { 
    .container { 
        width: 970px;
    }
}
/* Large */
@media ( min-width:1200px) { 
    .container { 
        width: 1170px;
    }
} 

.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before, 
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before { 
    left: -30px;
}

.main-title::after { 
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}

.main-title:hover { 
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.spikes { 
    position: relative;
}

.spikes::after { 
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient( 135deg, white 25%, transparent 25% ) , linear-gradient(225deg, white 25% transparent 25%);
    background-size: 30px 30px;
}

.dots {
    background-image: url();
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up { 
    top: 200px;
    right: 0;
}

.dots-down { 
    bottom: 200px;
    left: 0;
}
/* End Global Rules */

 
/* Start Header  */

.header { 
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
} 

.header .container { 
    height: 0px;
    display: flex;
    justify-content: space-evenly;
    margin: auto; 
    max-width: 1200px;
} 

.header .header_container { 
    display: flex ;
     justify-content: space-between; 
     align-items: center;
     position: relative; 
     width: 100%;
}

@media (max-width:768px){ 
    .header .header_container  { 
       display: grid;
    }
}

.header .logo { 
    display: flex;
    color: var(--main-color);
    font-size: 60px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

@media (max-width:992px){ 
    .header .logo { 
        font-size: 35px;
        display: flex;
        justify-content: center;
    }
    }

.header .box-header { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
 
.header .box-header .mneu { 
    display: flex;
    gap: 67px;
    align-items: center;
}

.header .box-header .mneu li a { 
    color: black;
    font-size: 25px;
}

@media (max-width:768px) { 
    .header .box-header .mneu { 
        display: flex;
        gap: 10px;
    }
}

.header .box-header .mneu .other-links { 
    display: flex;
    justify-content: space-between;
    gap: 67px;
    align-items: center;
    font-size: 25px;
    color: black;
}

.header .box-header .mneu .other-links::before { 
    position: absolute;
    content:"";
    width: 120px;
    top: -45px;
}
.header .box-header .mneu .other-links:hover { 
    color: var(--main-color);
    background-color: #ddd;
}
.header .box-header .mneu .other-links:hover .header-mother { 
        z-index: 50;
}

.header .box-header .mneu .other-links:hover::before{ 
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

.header .box-header .mneu li a:hover { 
    color: var(--main-color);
    background-color: #ddd;
}

.header .box-header .mneu li::before {
    position: absolute;
    content:"";
    width: 120px;
    top: -45px;
}

.header .box-header .mneu li:hover:before  { 
    border-top: 3px solid var(--main-color);
}

.header .header-mother {
    background-color: #777;
    height: 460px;
    border-bottom: 3px solid red;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index:-1;
    border-radius: 24px;
    padding:16px ;
}

@media (max-width:768px) { 
    .header .header-mother { 
        width: 100%;
        height: 586px;
    }
}

@media (max-width:768px) { 
    .header .header-mother img { 
        display: none;
    }
}

.header .header-mother .links { 
    position: relative;
    display: grid;
    justify-content: flex-start;
    text-wrap-mode: nowrap;
    line-height: 3;
    width: 50%; 
    flex-shrink: 0;
}

@media (max-width:992px) { 
    .header .header-mother .links { 
        width: 100%;
        right: 116px;
    }
}

.header .header-mother .new-header { 
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 40px;
}

@media (max-width:992px) { 
    .header .header-mother .new-header { 
        width: 100%;
    }
}

.header .header-mother .new-header1 { 
    flex-shrink: 0;
     width: 24%;
}

.header .header-mother .new-one { 
    width: 70%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px;
}

@media (max-width:768px) { 
    .header .header-mother .new-one  { 
        width: 100%;
        display: grid;
        gap: 1px;
        flex-shrink: 0;
    }
}

.header .header-mother .links a { 
    color: var(--main-color);
}

@media (max-width:992px) { 
    .header .header-mother .links a i { 
        font-size: 17px;
    }
}

.header .header-mother .links1 { 
    position: relative;
    line-height: 3;
    width: 50%;
     flex-shrink: 0
}

@media (max-width:769px) { 
    .header .header-mother .links1 { 
        width: 100%;
        right: 116px;
    }
}

.header .header-mother .links1  a { 
    color: var(--main-color);
}

@media (max-width:992px) { 
    .header .header-mother .links1 a i { 
        font-size: 17px;
    }
}

.header .header-mother .links li a i { 
    gap: 17px;
    display: flex;
    width: 100%;
    position: relative;
    line-height: 3;
}

@media (max-width:768px) { 
.header .header-mother .links li a::after { 
    position: absolute;
    content: "";
    border-bottom: 1px solid var(--main-color);
    width: 100%;
}
}

.header .header-mother .links1 li a i { 
    gap: 17px;
    display: flex;
    position: relative;
    line-height: 3;
    width: 100%;

}

@media (max-width:768px) { 
    .header .header-mother .links1 li a::after { 
        position: absolute;
        content: "";
        border-bottom: 1px solid var(--main-color);
        width: 100%;
    }
    }
    
/* End  Header  */

/* Start Landing   */
 .landing { 
    position: relative;
 }

 .landing .container {
   width: 100%;
   height: 500px;
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
   gap: 30px;
}

@media ( max-width:768px) { 
    .landing .container { 
        width: 100%
    }
}

.landing .container::before { 
    content: "";
    position: absolute;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
    width: 100%;
    height: 700px;
    background-color: var(--section-background);
}

@media (max-width:768px) { 
    .landing .container::before { 
        height: 105%;
    }
}

 .landing .text { 
    position: relative;
    color: black;
    text-align: center;
    align-self: center;
    right: -150px;
    top: -60px;
 }

 .landing .text h1  { 
    font-size: 25px;
    font-weight:bold;
    position: relative;
 }

 @media (max-width:768px) { 
    .landing .text h1 {
        font-size: 28px;
        left: -139px;
         bottom: -145px;
    }
 }

 .landing .text p { 
    position: relative;
    font-size: 15px;
 }

 @media (max-width:768px) { 
    .landing .text p  { 
        left: -139px;
        bottom: -145px;
    }  
 }

 .landing .image {
    max-width: 300px;
    position: relative;
    display: flex;
}

 .landing .image img {
    position: relative;
    width: 120%;
    height: 65%;
    display: flex;
    align-self: anchor-center;
    left: 280%;
    top: -50px;
    animation: up-and-down 5s linear infinite ;
    -webkit-animation: up-and-down 5s linear infinite ;
}

@media (max-width:786px) { 
    .landing .image img { 
        display: none;
    }
}

 .landing  a { 
    position: relative;
    color: var(--main-color);
    right: -49%;
 }
 
 .landing  a:hover { 
    color: var(--main-color-alt);
 }

 .landing .go-down i {
    animation: pointing 1.5s linear infinite;
    -webkit-animation: pointing 1.5s linear infinite;
}
/* End Landing  */

/* Start Article  */
.article {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.article .container { 
    width: 80%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
}

.article .box-article { 
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 2px;
    width: 78%;
    padding: 10px;
    margin: 10px;
    border-radius: 2%;
}

@media (max-width:992px) { 
    .article .box-article { 
        width: 100%;
    }
}

.article .box-article img { 
    max-width: 100%;
}

.article .box-article h3 { 
    position: relative;
    display: flex;
    padding: 13px;
}

.article .box-article p { 
    position: relative;
    display: flex;
    padding: 13px;
}

.article .box-links { 
    position: relative;
    border-top: 2px solid gray;
    display: flex;
    padding: 10px;
    gap: 100px;
}

.article .box-links a {
    color: var(--main-color);
}

.article .box-links i {
    color: var(--main-color);
    display: flex;
    animation: go  0.5s linear infinite;
    -webkit-animation: go  0.5s linear infinite;
}
/* End Article  */ 

/* Start Gallery  */
 .gallery { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
 }

 .gallery .container { 
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
   gap: 40px;
   background-color: white;
 }

 .gallery .box-gallery { 
    position: relative;
    border: 20px solid rgb(249, 247, 247);
 }

 @media (max-width:768px) { 
    .gallery .box-gallery { 
        width: 85%;
        right: -22px;
    }
 }

 .gallery .box-gallery .image-gallery { 
    max-width: 300%;
 }

 .gallery .box-gallery .image-gallery::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:red;
    z-index: -2;
    opacity: 0;
}

.gallery .box-gallery .image-gallery:hover:before {
    animation: flash 0.7s;
    -webkit-animation: flash 0.7s;
}
 
.gallery .box-gallery img {
    width: 100%;
}

.gallery .box-gallery img:hover {
    transform: rotate(5deg);
}
/* End Gallery */

/* Start Features   */
 .features { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
 }

 .features .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    height: 600px;
 }

 @media(max-width:992px) { 
    .features .container {
        height: 200%;
    }
 }

 .features .box-father-quality { 
    width: 300px;
    height: 398px;
    position: relative;
 }

 @media (max-width:992px) { 
    .features .box-father-quality { 
        right: -28px;
        width: 100%;
        height: 100%;
        bottom: 10px;
    }
 }

 .features .box-father-quality::before { 
    content: "";
    position: absolute;
    background-color: red;
    width: 300px;
    height: 398px;
    top: 0;
    opacity: 50%;
    z-index: 1;
 }

 .features .box-father-quality::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 298px;
    height: 297px;
    top: 243px;
    left: 1px;
    z-index: 1;
    transform: skew(0deg, -25deg);
    transform-origin: top left;
}

.features .box-father-quality:hover::after { 
    transform: skew(0deg, 25deg);
    top: 165px;
 }

 .features .box-quality {
    position: relative;
    width: 300px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
}

.features .box-quality .img-holder img { 
    max-width: 298px;
 }

 .features .box-quality h1 { 
    border-bottom: 5px solid red;
    width: fit-content;
    position: relative;
    display: flex;
    justify-self: center;
    z-index: 2;
    top: -130px;
 }
  
 .features .box-quality p { 
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    top: -90px;
 }

 .features .box-quality a  {
    text-align: center;
    border: 2px solid red;
    border-radius: 10%;
    font-weight: 700;
}

.features .box-quality a:hover { 
    color: white;
    background-color: red;
}

.features .box-father-time {  
    width: 300px;
    height: 398px;
    position: relative;
 }

 @media (max-width:992px) { 
    .features .box-father-time { 
        right: 1px;
        width: 100%;
        height: 100%;
        bottom: 2px;
    }
 }

 .features .box-father-time::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 298px;
    height: 297px;
    top: 243px;
    left: 1px;
    z-index: 2;
    transform: skew(0deg, -25deg);
    transform-origin: top left;
}

@media (max-width:768px) { 
    .features .box-father-time::before {
        width: 298px;
        height: 49%;
        left: 29px;
}
} 

.features .box-father-time:hover:before { 
    transform: skew(0deg, 25deg);
    top: 165px;
}

.features .box-father-time::after { 
    content: "";
    position: absolute;
    background-color: green;
    width: 300px;
    height: 398px;
    top: 0;
    opacity: 50%;
}

@media (max-width:768px) { 
    .features .box-father-time::after {
        right: 55px;
    }
}

 .features .box-time { 
    position: relative;
    width: 300px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
 }

 @media (max-width:992px) { 
    .features .box-time {
        right: -28px;
    }
 }

 .features .box-time .img-holder img { 
    max-width: 298px;
 }

 .features .box-time h1 { 
    border-bottom: 5px solid green;
    width: fit-content;
    position: relative;
    display: flex;
    justify-self: center;
    z-index: 2;
    top: -130px;
 }

 .features .box-time  p { 
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    top: -90px;
 }

 .features .box-time a { 
    text-align: center;
    border: 2px solid green ;
    border-radius: 10%;
    font-weight: 700;
}

.features .box-time a:hover { 
    color: white;
    background-color: green;
}

.features .box-father-passion {  
    width: 300px;
    height: 398px;
    position: relative;
 }

 @media (max-width:992px) { 
    .features .box-father-passion  { 
        right: -26px;
        width: 100%;
        height: 100%;
        bottom: -3px;
    }
 }

 .features .box-father-passion::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 298px;
    height: 297px;
    top: 243px;
    left: 1px;
    z-index: 2;
    transform: skew(0deg, -25deg);
    transform-origin: top left;
}

.features .box-father-passion:hover:before {
    transform: skew(0deg, 25deg);
    top: 165px;
}

 .features .box-father-passion::after { 
    content: "";
    position: absolute;
    background-color: blue;
    width: 300px;
    height: 398px;
    top: 0;
    opacity: 50%;
 }

 .features .box-passion { 
    position: relative;
    width: 300px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
 }

 .features .box-passion .img-holder img { 
    max-width: 298px;
 }

 .features .box-passion h1 { 
    border-bottom: 5px solid blue;
    width: fit-content;
    position: relative;
    display: flex;
    justify-self: center;
    z-index: 2;
    top: -130px;
 }

 .features .box-passion p { 
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 20px;
    top: -90px;
 }

 .features .box-passion a { 
    text-align: center;
    border: 2px solid blue;
    border-radius: 10%;
    font-weight: 700;
}

.features .box-passion a:hover { 
    color: white;
    background-color: blue;
}

 .features .box-passion .img-holder { 
    width: 298px;
 }

/* End Features   */

/* Start Test  */
 .testimonials { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
 }

 .testimonials .container { 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
 }

 @media(max-width:992px){ 
    .testimonials .container { 
        width: 100%;
    }
 }
 .testimonials .box-test {
    position: relative;
    width: 340px;
    height: 200px;
    padding: 5px;
    background-color: white;
    border-radius: 3%;
    line-height: 2;
}

@media (max-width:768px) { 
    .testimonials .box-test { 
        width: 82%;
        height: 210px;
        right: -32px;
    }
}

 .testimonials .box-test img {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50% ;
    right: -20px;
    top: -50px;
    border: 10px solid var(--section-background);
}

@media (max-width:768px) { 
    .testimonials .box-test img {
        width: 32%;
        height: 43%;
    }
}

.testimonials .box-test h3 { 
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.testimonials .box-test .title { 
    position: relative;
    font-size: 15px;
    color: #777;
}

.testimonials .box-test .rate .Filled { 
    position: relative;
    color: rgb(239, 192, 74);
}

.testimonials .box-test p { 
    position: relative;
    font-size: 15px;
}
/* End Test  */

/* Start Team   */
.team { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-top: var(--main-padding-bottom);
}

.team .container { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 60px;
}

.team .social-team {
    position: relative;
    background-color: #ddd;
    width: 280px;
    height: 320px;
    right: -100px;
    border-radius: 5%;
}

@media (max-width:768px) { 
    .team .social-team { 
        right: -69px;
    }
}

.team .social-team:hover {
    background-image: linear-gradient(to right , #ccc);
}

.team .social-team a i { 
    position: relative;
    display: grid;
    line-height: 3;
    right: -230px;
    bottom: -50px;
    color: gray;
}

.team .social-team a i:hover { 
    color: var(--main-color);
}

.team .info-team img {
    position: relative;
    width: 230px;
    right: 40px;
    top: -138px;
    border-radius: 5%;
}

.team .social-team h1 { 
    position: relative;
    top: -130px;
    color: var(--main-color);
    right: -6px;
}

.team .social-team p { 
    position: relative;
    top: -140px;
    right: -6px;
    color: black;
}

/* End Team  */

/* Start Services  */
.services { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.services .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    padding: 20px;
}

.services .box-services { 
    position: relative;
    width: 300px;
    height: 200px;
    background-color: white;
   counter-increment: numbers;
}

@media (max-width:768px) { 
    .services .box-services { 
        right: -39px;
    }
}

.services .box-services:hover { 
    position: relative;
    border-top: 5px solid var(--main-color);
}

.services .box-services i { 
    width: 150px;
    color: var(--section-background);
    position: relative;
    right: -113px;
    bottom: -20px;
}

.services .box-services h2 { 
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
     bottom: -35px;
}

.services .box-services::before { 
    content:counter(numbers);
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -61px;
    z-index: 3;
    left: 30px;
    font-size: 27px;
    font-weight: 700;
}

.services .info-services { 
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #ccc;
    bottom: -63px;
    height: 50px;
    overflow: hidden;
}

.services .info-services a { 
    position: relative;
    color: var(--main-color);
    display: flex;
    align-items: center;
    left: -12px;
}

.services .info-services a::after { 
    content: "";
    position: absolute;
    width: 130px;
    height: 49px;
    background-color: red;
    right: 158px;
    transform: skewX(-18deg);
}

.services .info-services a::before { 
    content: "";
    position: absolute;
    background-color: pink;
    height: 50px;
    width: 95px;
    right: 202px;
    z-index: 2;
    transform: skewX(-18deg);
}

/* End  Services  */

/* Start Our-skills  */
 .our-skills { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
 }

 .our-skills .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
 }

 @media (max-width:922px) { 
    .our-skills .container { 
      width: 100%;
    }
}

.our-skills .image-our-skills { 
    position: relative;
}

.our-skills .image-our-skills img { 
    width: 350px;
}

@media (max-width:768px) { 
    .our-skills .image-our-skills img { 
        display: none;
    }
}

.our-skills .skills { 
    position: relative;
}

.our-skills .skill { 
    position: relative;
    width: 450px;
    height: 70px;
    display: grid;
    gap: 16px;
}

@media (max-width:768px) { 
    .our-skills .skill { 
        width: 50%;
    }
}

.our-skills .skill h3 {
    position: relative;
    font-weight: bold;
}

.our-skills .skill h3 span {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    width: 40px;
    justify-self: flex-end;
    top: -21px;
    border-radius: 10%;
}

@media (max-width:768px) { 
    .our-skills .skill h3 span { 
        right: -174px;
    }
}

.our-skills .skill .the-progress { 
    position: relative;
    width: 450px;
    background-color: red;
    height: 31px;
    top: -31px;
}

@media (max-width:768px) { 
    .our-skills .skill .the-progress { 
        width: 198%;
    }
}

.our-skills .skill .the-progress span { 
    position: absolute;
    background-color: orange;
    height: 100%;
    top: 0;
    left: 0;
}

/* End  Our-skills   *

/* Start Work  */
.work { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.work .container { 
    position: relative;
    display: inline-grid;
   justify-content: right;
}

@media (max-width:768px) { 
    .work .container { 
        width: 104%;
    }
}
.work .image-work { 
   position: relative;
   left: -118px;
    height: 0px;
}

.work .image-work img { 
    position: relative;
    width: 300px;
    left: -250px;
    height: 700px;
}

@media (max-width:992px) { 
    .work .image-work img { 
        width: 200px;
        height: 147px;
        top: -70px;
        left: 213px;
    }
}

.work .box-work {
    position: relative;
    height: 260px;
    background-color:#ccc;
    border-radius: 1%;;
    border: 1px solid white;
}

@media (max-width:768px) { 
    .work .box-work { 
        width: 84%;
        right: -32px;
        bottom: -87px;
    }
}

.work .box-work:hover {
    background-color: #ddd;
}

.work .box-work img { 
    position: relative;
    width: 70px;
    bottom: -10px;
    display: flex;
    justify-self: center;
}

.work .box-work h3 { 
    position: relative;
    font-size: 25px;
    font-weight: bold;
    bottom: -50px;
    display: flex;
    justify-content: center;
}

.work .box-work p { 
    position: relative;
    bottom: -70px;
}
/* End Work  */

/* Start Events  */
.lastest-events { 
position: relative;
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
}

.lastest-events .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

@media (max-width:768px) { 
.lastest-events .last-events img { 
    display: none;
}
}

.lastest-events .info-events { 
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 85px;
    left: 150px;
    align-self: center;
}

@media (max-width:768px) { 
    .lastest-events .info-events { 
        left: 43px;
        width: 76%;
    }
}

.lastest-events .info-events .days { 
    position: relative;
    display: grid ;
    background-color: #ddd;
    width: 70px;
    height: 85px;
    justify-items: center;
    border-radius: 5%;
    border: 2px solid #ccc ;
    font-size: 30px;
    align-content: space-around;
    color: var(--main-color);
}

.lastest-events .info-events .days:hover {
    border: 2px solid var(--main-color);
}

.lastest-events .info-events .days span { 
    font-size: 13px;
    color: black;
}

.lastest-events .info-events .days span::before {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 67px;
    right: -1px;
    top: 52px;
}

.lastest-events .info-events .days span:hover::before { 
    border: 1px solid var(--main-color);
}

.lastest-events .info-events .hours { 
    position: relative;
    display: grid ;
    background-color: #ddd;
    width: 70px;
    height: 85px;
    justify-items: center;
    border-radius: 5%;
    border: 2px solid #ccc;
    font-size: 30px;
    align-content: space-around;
    color: var(--main-color);
}

.lastest-events .info-events .hours:hover {
    border: 2px solid var(--main-color);
}

.lastest-events .info-events .hours span { 
    font-size: 13px;
    color: black;
}

.lastest-events .info-events .hours span::before {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 67px;
    right: -1px;
    top: 52px;
}

.lastest-events .info-events .hours span:hover::before { 
    border: 1px solid var(--main-color);
}

.lastest-events .info-events .min { 
    position: relative;
    display: grid ;
    background-color: #ddd;
    width: 70px;
    height: 85px;
    justify-items: center;
    border-radius: 5%;
    border: 2px solid #ccc;
    font-size: 30px;
    align-content: space-around;
    color: var(--main-color);
}

.lastest-events .info-events .min:hover {
    border: 2px solid var(--main-color);
}

.lastest-events .info-events .min span { 
    font-size: 13px;
    color: black;
}

.lastest-events .info-events .min span::before {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 67px;
    right: -1px;
    top: 52px;
}

.lastest-events .info-events .min span:hover::before { 
    border: 1px solid var(--main-color);
}

.lastest-events .info-events .sec {
    position: relative;
    display: grid ;
    background-color: #ddd;
    width: 70px;
    height: 85px;
    justify-items: center;
    border-radius: 5%;
    border: 2px solid #ccc;
    font-size: 30px;
    align-content: space-around;
    color: var(--main-color);
}

.lastest-events .info-events .sec:hover {
    border: 2px solid var(--main-color);
}

.lastest-events .info-events .sec span { 
    font-size: 13px;
    color: black;
}

.lastest-events .info-events .sec span::before {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 67px;
    right: -1px;
    top: 52px;
}

.lastest-events .info-events .sec span:hover::before { 
    border: 1px solid var(--main-color);
}

.lastest-events h3 { 
    position: relative;
    font-size: 30px;
    bottom: -168px;
    left: -224px;
}

@media (max-width:768px) { 
    .lastest-events h3 { 
        top: -24px;
        left: 29px;
    }
}

.lastest-events p { 
    position: relative;
    position: relative;
    display: flex;
    font-size: 19px;
    right: -226px;
    top: -47px;
    width: max-content;
}

@media (max-width:768px) { 
    .lastest-events p { 
        width: 75%;
        right: -72px;
    }
}

.lastest-events .important-events {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    height: 120px;
    align-items: anchor-center;
    width: 500px;
    border-radius: 50px;
    bottom: -30px;
}

@media (max-width:768px) {
    .lastest-events .important-events { 
        width: 87%;
        right: -17px;
    }
}

.lastest-events input {
    position: relative;
    display: flex;
    background-color: white;
    width: 320px;
    height: 50px;
    right: -17px;
    border-radius: 37px;
    color: #ddd;
    border: 1px solid white;
}

@media (max-width:768px) {
    .lastest-events input  { 
        width: 49%;
        right: -31px;
    }
} 

.lastest-events .events-important { 
    position: relative;
    background-color: var(--main-color);
    color: white;
    height: 50px;
    width: 100px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 37px;
}

.lastest-events .events-important:hover { 
    background-color: var(--main-color-alt);
}
/* End Events */

/* Start Pricing */
 .pricing { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
 }

 .pricing .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 }

 .pricing .box-basic { 
    position: relative;
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 2px -2px 6px;
    bottom: -30px;
 }

 @media (max-width:768px) { 
    .pricing .box-basic { 
        right: -39px;
    }
 }

 .pricing .box-basic h3 { 
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    bottom: -14px;
 }

 .pricing .box-basic img  { 
    position: relative;
    width: 97px;
    right: -97px;
    bottom: -23px;
 }

 .pricing .box-basic span { 
    position: relative;
    font-size: 40px;
    font-weight: bold;
    bottom: -54px;
    left: 8px;
    color: var(--main-color);
 }

 .pricing .box-basic p {
    position: relative;
    color: #ccc;
    bottom: 10px;
    bottom: -50px;
    right: -105px;
 }

 .pricing .box-basic ul { 
    position: relative;
    line-height: 2;
    bottom: -69px;
    right: -74px;
 }

 .pricing .box-basic ul li { 
    position: relative;
    line-height: 3;
 }

 .pricing .box-basic ul li::before { 
    position: absolute;
    content: "";
    border-top: 1px solid #ccc;
    width: 299px;
    left: -74px;
 }

 .pricing .box-basic ul li::after { 
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color: var(--main-color);
    font-weight: 900;
    right: 319px;
 }

 .pricing .box-plan { 
    position: relative;
    bottom: -105px;
    width: 100px;
    height: 48px;
    border: 1px solid var(--main-color);
    display: flex;
    right: -96px;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: 700;
 }

 .pricing .box-plan:hover { 
    background-color: var(--main-color-alt);
 }

 .pricing .box-advanced { 
    position: relative;
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 2px -2px 6px;
 }

@media (max-width:768px) { 
    .pricing .box-advanced { 
        right: -39px;
        bottom: -50px ;
    }
}

 .pricing .most-pricing {
    position: relative;
    width: 110px;
    height: 31px;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    right: -186px;
    bottom: -43px;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

 .pricing .most-pricing::after { 
    position: absolute;
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: var(--main-color) transparent var(--main-color) var(--main-color) ;
    width: 100px;
    height: 0;
    z-index: -2;
    right: -26px;
    top: -10px;
 }

 .pricing .box-advanced h3 { 
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    bottom: -14px;
 }

 .pricing .box-advanced img { 
    position: relative;
    width: 97px;
    right: -97px;
    bottom: -23px;
 }

 .pricing .box-advanced span { 
    position: relative;
    font-size: 40px;
    font-weight: bold;
    bottom: -54px;
    left: 8px;
    color: var(--main-color);
 }

 .pricing .box-advanced p { 
    position: relative;
    color: #ccc;
    bottom: 10px;
    bottom: -50px;
    right: -105px;
 }

 .pricing .box-advanced ul { 
    position: relative;
    line-height: 2;
    bottom: -69px;
    right: -74px;
 }

 .pricing .box-advanced ul li { 
    position: relative;
    line-height: 3;
 }

 .pricing .box-advanced ul li::before { 
    position: absolute;
    content: "";
    border-top: 1px solid #ccc;
    width: 299px;
    left: -74px;
 }

 .pricing .box-advanced ul li::after { 
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color: var(--main-color);
    font-weight: 900;
    right: 319px;
 }

 .pricing .box-professional { 
    position: relative;
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 2px -2px 6px;
    bottom: -30px;
 }

 @media (max-width:768px) { 
    .pricing .box-professional { 
        right: -39px;
        bottom: -70px
    }
 }

 .pricing .box-professional h3 { 
    position: relative;
    font-size: 25px;
    display: flex;
    justify-content: center;
    bottom: -14px;
 }

 .pricing .box-professional img { 
    position: relative;
    width: 97px;
    right: -97px;
    bottom: -23px;
 }

 .pricing .box-professional span { 
    position: relative;
    font-size: 40px;
    font-weight: bold;
    bottom: -54px;
    left: 8px;
    color: var(--main-color);
 }

 .pricing .box-professional p { 
    position: relative;
    color: #ccc;
    bottom: 10px;
    bottom: -50px;
    right: -105px;
 }

 .pricing .box-professional ul { 
    position: relative;
    line-height: 2;
    bottom: -69px;
    right: -74px;
 }

 .pricing .box-professional ul li { 
    position: relative;
    line-height: 3;
 }

 .pricing .box-professional ul li::before { 
    position: absolute;
    content: "";
    border-top: 1px solid #ccc;
    width: 299px;
    left: -74px;
 }

 .pricing .box-professional ul li::after { 
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    color: var(--main-color);
    font-weight: 900;
    right: 319px;
 } 
/* End Pricing  */

/* Start Videos  */
.vidoes { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.vidoes .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
}

.vidoes .box-vidoes { 
    position: relative;
    width: 800px;
    height: 520px;
    background-color: #ddd;
    right: -170px;
    border: 1px solid #ccc;
}

@media (max-width:768px)  { 
    .vidoes .box-vidoes { 
        height: 836px;
        width: 79%;
        right: -28px;
    }
}

.vidoes .vidoes-son { 
    position: relative;
    background-color:white;
    width: 300px;
    height: 518px;
}

.vidoes .vidoes-son h3 { 
    position: relative;
    padding: 20px;
    background-color:#777;
    border: 1px solid #ccc;
    font-size: 17px;
}

.vidoes .vidoes-son i { 
    position: relative;
    right: -150px;
}

.vidoes .vidoes-son a { 
    position: relative;
    line-height: 31px;
    display: grid;
    right: -11px;
    color: black;
}

.vidoes .vidoes-son a:hover { 
    color: var(--main-color);
}

.vidoes .vidoes-son a span { 
    position: relative;
    color: #ccc;
}

.vidoes .vidoes-son a span::after { 
    content: "";
    position: absolute;
    background-color:  #ccc;
    width: 300px;
    height: 1px;
    right: 11px;
    bottom: 62px;
}
.vidoes .girls { 
    position: relative;
}

.vidoes .girls img { 
    position: relative;
    top: -509px;
    right: -327px;
    width: 443px;
}

@media (max-width:992px) { 
    .vidoes .girls img { 
        right: -7px;
        top: 10px;
        width: 286px;
    }
}

.vidoes .girls h1 { 
    position: relative;
    background-color: white;
    width: 470px;
    height: 81px;
    display: flex;
    align-items: center;
    top: -400px;
    right: -314px;
    font-size: 18px;
    color: black;
    padding: 10px;
}

@media(max-width:768px) { 
.vidoes .girls h1  { 
    top: 12px;
    right: -10px;
    width: 283px;
    font-size: 17px;
}
}

/* End Videos */

/* Start Stats  */
 .stats {
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../images/portfolio1.jpeg);
    background-size: cover;
}

 .stats .container { 
    position: relative;
    width: 800px;
    display: grid;
}

 .stats  h1 { 
    position: relative;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    justify-content: center;
 }

 @media ( max-width:768px) { 
    .stats  h1  { 
        font-size: 34px;
        right: 218px;
        top: -27px;
    }
 }

 .stats .box-stats  {
    position: relative;
    display: flex;
    gap: 60px;
    width: 800px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

@media (max-width:768px) { 
    .stats .box-stats { 
        width: 206px;
        height: 521px;
        display: grid;
        gap: 10px;
    }
}

 .stats .box-stats1 { 
    position: relative;
    display: grid;
    width: 226px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 @media (max-width:768px) { 
    .stats .box-stats1 {
        width: 165px;
        height: 144px;
        right: -88px;
    }
 }

 .stats .box-stats1:hover {
    border-right: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    transition: all .3s 1s linear;
}

 .stats .box-stats1 i { 
    position: relative;
    right: -16px;
    top: -9px;
 }

 .stats .box-stats1 span { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    top: -1px;
    right: -10px;
 }

 .stats .box-stats1 h3 { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    bottom: -1px;
 }


 .stats .box-stats2 {
    position: relative;
    display: grid;
    width: 226px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 @media (max-width:768px) { 
    .stats .box-stats2 {
        width: 165px;
        height: 144px;
        right: -88px;
    }
 }

 .stats .box-stats2 i { 
    position: relative;
    right: -30px;
    top: -9px;
 }

 .stats .box-stats2 span { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    top: -1px;
    right: -23px;
 }

 .stats .box-stats2 h3 { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    bottom: -1px;
 }

 .stats .box-stats3 { 
    position: relative;
    display: grid;
    width: 226px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 @media (max-width:768px) { 
    .stats .box-stats3 {
        width: 165px;
        height: 144px;
        right: -88px;
    }
 }

 .stats .box-stats3 i { 
    position: relative;
    right: -36px;
    top: -9px;
 }

 .stats .box-stats3 span { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    top: -1px;
    right: -40px;
 }

 .stats .box-stats3 h3 { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    bottom: -1px;
 }

 .stats .box-stats4 { 
    position: relative;
    display: grid;
    width: 226px;
    height: 170px;
    background-color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 @media (max-width:768px) { 
    .stats .box-stats4 {
        width: 165px;
        height: 144px;
        right: -88px;
    }
 }

 .stats .box-stats4 i { 
    position: relative;
    right: -16px;
    top: -9px;
 }

 .stats .box-stats4 span { 
    position: relative;
    font-size: 30px;
    font-weight: 700;
    top: -1px;
    right: -10px;
 }

 .stats .box-stats4 h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--main-color);
    bottom: -1px;
 }
/* End Stats  */

/* Start  Discount  */
.discount { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.discount .container { 
    position: relative;
    width: 800px;
    height: 670px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

@media (max-width:768px){ 
    .discount .container {
        width: 100%;
        height: 200%;
    }
}

.discount .box-discount {
    position: relative;
    background-color: #ddd;
    height: 700px;
    width: 900px;
    display: flex;
}

@media (max-width:768px) { 
    .discount .box-discount { 
        width: 100%;
        display: grid;
        height: 920px;
    }
}

.discount .box-discount1 { 
    position: relative;
    background-color: var(--main-color);
    padding: 10px;
}

@media (max-width:768px) { 
    .discount .box-discount1 { 
        width: 86%;
         height: 370px;
    }
}

.discount .box-discount1 h3 { 
    position: relative;
    font-size: 41px;
    display: flex;
    justify-content: center;
    bottom: -50px;
}

@media (max-width:768px) {
    .discount .box-discount1 h3  { 
        font-size: 36px;
        right: 31px;
        top: 4px;
    }
}

.discount .box-discount1 p { 
    position: absolute;
    display: flex;
    text-align: center;
    align-self: center;
}

@media (max-width:768px) { 
    .discount .box-discount1 p { 
        font-size: 14px;
        width: 78%;
        top: 74px;
    }
}

.discount .box-discount1 img {
    position: relative;
    width: 270px;
    bottom: -250px;
    right: -37px;
    animation: backgroundd 10s linear infinite;
    -webkit-animation: backgroundd 10s linear infinite;
}

@media (max-width:768px) { 
    .discount .box-discount1 img {
        width: 37%;
        top: 115px;
        height: 50%;
        right: -97px;
    }
}

.discount .box-discount2 { 
    position: relative;
    padding: 10px;
    display: grid;
    right: -28px;
    margin: 64px;
}

@media (max-width:768px) { 
    .discount .box-discount2 { 
        bottom: 27px;
        width: 100%;
        right: 26px;
        gap: 10px;
    }
}

.discount .box-discount2 h3 { 
    position: relative;
    display: flex;
    align-items: end;
    font-size: 30px;
}

.discount .box-discount2 input { 
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #ddd;
    display: flex;
    padding: 10px;
    border: 2px solid white;
    border-bottom: 2px solid #777;
}

.discount .box-discount2 input:hover { 
    color: var(--main-color);
}

.discount .box-discount2 .text { 
    position: relative;
    background-color: #ddd;
    display: flex;
    padding: 10px;
    height: 200px;
    border-bottom: 2px solid #777;
}

.discount .box-discount2 span { 
   position: relative;
   height: 50px;
   background-color: var(--main-color);
   color: white;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width:768px){ 
    .discount .box-discount2 span {
        width: 71%;
    }
}

.discount .box-discount2 span:hover {
    background-color: var(--main-color-alt);
}
/* End  Discount */

/* Start last  */
.last { 
    position: relative;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: black;
    /* i will change the background color  */
}

.last .container { 
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    height: 650px;
}

@media (max-width:768px) { 
    .last .container {
     width: 100%;
     height: 100%;
    }
}

.last h1 { 
    position: relative;
    font-size: 59px;
    color: var(--main-color);
    padding: 16px;
}

@media (max-width:768px) { 
    .last h1 {
    font-size: 30px;
    right: -124px;
    top: -73px;
    }
}

.last .last1 { 
    position: relative;
    display: flex;
    bottom: -140px;
    gap: 15px;
    left: -200px;
}

@media (max-width:768px) { 
    .last .last1 { 
        width: 100%;
    }
}

.last .last1 .facebook { 
    position: relative;
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media (max-width:768px) { 
    .last .last1 .facebook {
        right: -303px;
        top: -210px;
    }
}

.last .last1 .facebook:hover { 
    background-color: blue;
}

.last .last1 .twitter { 
    position: relative;
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media (max-width:768px) {
    .last .last1 .twitter { 
        right: -303px;
        top: -210px;
    }
}

.last .last1 .twitter:hover { 
    background-color: var(--main-color);
}

.last .last1 .youtube { 
    position: relative;
    width: 50px;
    height: 50px;
    background-color: gray;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

@media (max-width:768px) {
    .last .last1 .youtube { 
        right: -303px;
        top: -210px;
    }
}

.last .last1 .youtube:hover { 
    background-color: red;
}

.last .paragraph { 
    position: relative;
    left: -448px;
    bottom: -198px;
    font-size: 18px;
    text-align: center;
    color: white;
}

@media ( max-width:768px) { 
    .last .paragraph { 
        font-size: 15px;
        left: 25px;
        width: 86%;
        top: -46px;
    }
}

 .last .last2 { 
    position: relative;
    display: grid;
    align-self: center;
    left: -255px;
    gap: 19px;
    font-size: 25px;
}

@media (max-width:768px) { 
    .last .last2 { 
        font-size: 15px;
        left: 141px;
    }
}

.last .last2 a::before { 
    position: absolute;
    font-family: "font Awesome 5 free";
    content: "\f101";
    font-weight: 700;
    font-size: 19px;
    color: var(--main-color);
    left: -37px;
    bottom: 1px;
}

@media (max-width:768px) { 
    .last .last2 a::before { 
        font-size: 12px;
    }
} 

.last .last2 a { 
    position: relative;
}

.last .last2 a::after { 
   position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 265px;
    height: 38px;
    left: -52px;
}

@media (max-width:768px) { 
    .last .last2 a::after { 
        width: 53%;
        top: -9px;
    }
}

.last .last2 a:last-child::after{ 
    position: relative;
    border: none;
}

.last .last2 a i { 
    position: relative;
    color: #777;
}

.last .last2 a i:hover {
    position: relative;
    color: var(--main-color-alt);
}

.last .last3 { 
    position: relative;
    display: grid;
    align-content: center;
    gap: 50px;
    left: -172px;
}

.last .last3 .location { 
    position: relative;
}

@media (max-width:768px) { 
    .last .last3 .location { 
        right: -217px;
    }
}

.last .last3 .location i {
    position: relative;
    right: -80px;
    top: -10px;
    font-size: x-large;
    color: var(--main-color);
}

@media (max-width:768px) { 
    .last .last3 .location i { 
       font-size: 17px;
       top: 29px;
       right: -130px;
    }
}

.last .last3 .location p { 
    position: relative;
    font-size: 17px;
    color: white;
}

@media (max-width:768px) { 
    .last .last3 .location p { 
        font-size: 15px;
        width: 52%;
        top: 43px;
        right: -51px;
    }
}

.last .last3 .timing { 
    position: relative;
}

@media (max-width:768px) { 
    .last .last3 .timing { 
        right: -217px;
    }
}

.last .last3 .timing i { 
    position: relative;
    right: -80px;
    top: -10px;
    font-size: x-large;
    color: var(--main-color); 
}

@media (max-width:768px) { 
    .last .last3 .timing i { 
       font-size: 17px;
       top: 29px;
       right: -130px;
    }
}

.last .last3 .timing p { 
    position: relative;
    font-size: 17px;
    color: white;
}

@media (max-width:768px) { 
    .last .last3 .timing p { 
        font-size: 15px;
        width: 52%;
        top: 43px;
        right: -51px;
    }
}

.last .last3 .numberphone { 
    position: relative;
}

@media (max-width:768px) { 
    .last .last3 .numberphone{ 
        right: -217px;
    }
}

.last .last3 .numberphone i { 
    position: relative;
    right: -80px;
    top: -11px;
    font-size: x-large;
    color: var(--main-color); 
}

@media (max-width:768px) { 
    .last .last3 .numberphone i { 
       font-size: 17px;
       top: 29px;
       right: -130px;
    }
}

.last .last3 .numberphone p {
    position: relative;
    font-size: 17px;
    right: -45px;
    line-height: 2;
    color: white;
}

@media (max-width:768px) { 
    .last .last3 .numberphone p { 
        font-size: 15px;
        width: 52%;
        top: 43px;
        right: -88px;
    }
}

.last .last4 { 
    position: relative;
    top: -355px;
    right: -1005px;
}

@media (max-width:768px) { 
    .last .last4  {
        top: 62px;
        right: -35px;
    }
}

.last .last4 img { 
    width: 65px;
    border: 2px solid #ddd;
}

@media (max-width:768px) { 
    .last .last4 img {
        width: 25%;
    }
}

/*  End last  */

/* Start Footer   */
 .copyright { 
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #444;
 }

 @media (max-width:768px) { 
    .copyright { 
        width: 100%;
    }
 }

/* End Footer  */

/*Start  Anmatiom */

@keyframes  up-and-down { 
    0%,100%  { 
        top: 0;
    }

    50% { 
    top: -50px;
    }
}

@keyframes pointing { 
    0%,
    10%,
    20%,
    30%,
    50%,
    80%, 
    100%{
        transform: translateY(0);
}
    40%, 60% {
        transform: translateY(-15px);
}
}

@keyframes  right-move { 
    0%, 100% { 
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        width: 50%;
        height:100% ;
        border-radius: 0;
        right: 0;
    }
}

@keyframes left-move {
    0%, 100% { 
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        width: 50%;
        height:100% ;
        border-radius: 0;
        left: 0;
    }
}

@keyframes go { 
    100% {
        transform: translateX(10px);
      
}
}

@keyframes  flash { 
    0%,40% { 
        opacity: 1;
    }

    100% { 
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes  backgroundd { 
    0%,100% { 
        background-image: url(../images/background\ brown\ 1.jpeg);
    }
    100% { 
        background-image: url(../images/background\ brown\ 2.jpeg);
    }
}
/* End Anmatiom  */